main
{
    width: 50%;
}

#errorMsg
{
    font-weight: 600;
    font-size: large;
    text-align: center;
}

#error
{
    color: #FFC107;
}

#success
{
    color: #28A745;
}

h2
{
    text-align: center;
}

.submitBtn
{
    width: 100%;
}

.fa-star-of-life
{
    font-size: 12px;
}

#carouselFeatured
{
    width: 90%;
    margin: 0 auto 0 auto;
}

.carouselImages
{
    height: 250px;
    width: 350px;
}

.filterControl
{
    width: 100%;
}

.search
{
    width: 100%;
}

.filterContainer
{
    width: 100%;
}

.filterBtn
{
    width: 100%;
}

.navigationBtn
{
    width: 100%;
}

.detailsBtn
{
    width: 25%;
}

.detailsImg
{
    width: 500px;
}

/*xxl*/
@media screen and (max-width: 1400px)
{
    .nav-item
    {
        padding-right: 15px;
    }

    .filterControl
    {
        
        margin-top: 8px;
    }

    #eraserFilterBtn
    {
        margin-bottom: 10px;
    }

    .detailsBtn
    {
        width: 40%;
    }
}

@media screen and (max-width: 1200px)
{
    main
    {
      width: 65%;
    }

    .detailsImg
    {
        width: 400px;
    }
}

@media screen and (max-width: 992px)
{
    main
    {
      width: 90%;
    }

    .filteredArticle
    {
        width: 90%;
    }

    .detailsBtn
    {
        width: 65%;
    }
}

@media screen and (max-width: 600px)
{
    main
    {
        width: 95%;
    }

    .detailsImg
    {
        width: 300px;
    }
}
